.dashboard {
  height: 100vh;
  width: 100vw;
  background-color: #030303;
  overflow-x: hidden;
}

input {
  background-color: inherit;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}
