.dashboard {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.dark .dashboard {
  background-color: #030303;
}

.light .dashboard {
  background-color: white;
}

input {
  background-color: inherit;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }
}

.light .codecademy {
  fill: #204156;
}

.dark .codecademy {
  fill: white;
}
